/* Boton de Whatsapp*/  


.botonWhatsapp{
    position: fixed;
    left: 1380px;
    top: 450px;
    
    height: 150px;
    width: 150px;
    
}
.botonWhatsapp a{
    
    justify-content: center;
    text-decoration: none;
    color: white;


}
.botonWhatsapp a h4{
    margin-top: 65px;
    margin-left: 45px;
}
