/*Formulario de para login*/


.containerformulario {
    margin-top: 50px; }

.imagen_somos{
    width: 65%;
    height: 85%;
}

.titulo_somos{
    @extend .Titulos_;
    color: $colorTitulo;
    margin-top: 7%;
    
}

.container_somos{
    height: 900px;
}