/*Quienes Somos*/

.container_somos{
    
}

.titulo_somos{

    text-align: center;
    color:$mainColor;
    margin-top: 5%;
 
    

}

.titulo_somos h2{
    font-size: 60px;

}
.cuerpo_somos{

    height: 1000px;

    margin-top: 50px;
}

.imagen_somos1{
    margin-top: 30px;

   
    justify-content: center;
    align-items: center;
}

.imagen_somos{

    width: 80%;
    height: 80%;
}