/* Asesoramiento*/

.container_asesoramiento{

    height: 1900px;
}
.titulo_asesoramiento{

    height: 300px;
    margin-top: 20px;
    



}
.titulo_asesoramiento h2{
    color: rgba(255, 208, 0, 0.274);
    text-align: center;
    
}
.titulo_asesoramiento p{
    text-align: center;
    color: rgba(255, 208, 0, 0.842);
}
.proyectos{
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}