/* colores*/
/* header y nav*/
@import './variables.scss';
@import './header.scss';
@import './iconos';
@import './index';
@import './asesoramiento';
@import './contacto';
@import './ofertas';
@import './productosypinturas';
@import './quienessomos'; 







@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Indie+Flower&family=Poppins:ital,wght@0,200;0,400;0,600;1,400;1,600&family=Quintessential&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap");






/* generales del body*/
body {
  background-color: white;
  font-family: 'Roboto', sans-serif; }



h1 {
  font-size: 75px;
  color: $mainColor;
  align-items: center;
  font-weight: bolder; }

p {
  font-size: 20px;
  font-style: italic;
  color: $mainColor; }

h3 {
  font-size: 30px;
  color: rgb(192, 17, 17); }

/* foooter*/
.footer-style {
  height: 300px;
  margin-top: 50%; }



footer {
  color: $mainColor; }


  /*Aplicamos extend en quienes somos, ofertas y asesoramiento*/ 
  
.Titulos_{
  font-size: 50px;
  text-align: center;
  


}
.Titulos_index{
  @extend .Titulos_;
  color: rgba(255, 94, 0, 0.945);
  font-weight: bolder;
  
 
  
}

.Titulo_especial{
  @extend .Titulos_;
  color: red;
  background-image: linear-gradient(to right, $mainColor, yellow);
 
}
.Titulo_pinturas{
  @extend .Titulos_;
  color: $colorTitulo;
  margin-bottom: 75px;
  margin-top: 25px;
  
}

.Titulo_productos{
  @extend .Titulos_;
  color: $colorTitulo;
  margin-bottom: 75px;
  margin-top: 25px;


}

/*aplicamos MIXIN en Asesoramiento, Ofertas*/ 

@mixin estilo_card ($colorLetra, $colorFondo, $tamanioLetra) {

  font-size: $tamanioLetra;
  text-align: center;
 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: $colorLetra;
  background-color: $colorFondo;
}

.card1{

  @include estilo_card( white,red, 20px);
}

.card2{
  @include estilo_card(rgba(0, 0, 255, 0.63),rgba(187, 255, 0, 0.308) , 15px )
}


.card3{ 
  @include estilo_card(rgb(255, 238, 0),rgb(192, 17, 17) , 17px )
}







