

@import './variables.scss';
@import './header.scss';
@import './boton_whatsapp.scss';
@import './iconos.scss';
@import './index.scss';
@import './asesoramiento.scss';
@import './ofertas.scss';
@import './quienessomos.scss';


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Indie+Flower&family=Poppins:ital,wght@0,200;0,400;0,600;1,400;1,600&family=Quintessential&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap');



*{
    margin: 0;
    padding: 0;
}




/* generales del body*/
body{

    background-color: white;
    font-family: 'Roboto', sans-serif;
}


h2{
    
    font-size: 45px;
    color: rgba(255, 166, 0, 0.911);
    text-align: center;

}

h1{
font-size: 75px;
color: $mainColor;
align-items: center;
font-weight: bolder;

}
 



p{
    font-size: 20px;
    font-style: italic;
    color: $mainColor;
   
}

h3{
    
    font-size: 25px;
    color: rgb(250, 174, 9);
}


/* foooter*/

.footer-style{
    height: 400px;
    margin-top: 50%;
}

footer{
    
   color: $mainColor;
    
 
}

/*Formulario de para login*/

.containerformulario{
    margin-top: 50px;
}

/*Productos y Pinturas*/

.container_prod_pint{
    height: 1800px;
    margin-top: 30px;

}


/*contacto*/
.container_contacto{
    margin-top: 30px;
}
.container_row{
    margin-top: 1%;
    margin-bottom: 1%;
}
