/* colores*/
/* header y nav*/
@import './variables.scss';
@import './header.scss';
@import './iconos';
@import './index';
@import './asesoramiento';
@import './contacto';
@import './ofertas';
@import './productosypinturas';
@import './quienessomos'; 







@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Indie+Flower&family=Poppins:ital,wght@0,200;0,400;0,600;1,400;1,600&family=Quintessential&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap");






/* generales del body*/
body {
  background-color: white;
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 45px;
  color: rgba(255, 166, 0, 0.911);
  text-align: center; }

h1 {
  font-size: 75px;
  color: $mainColor;
  align-items: center;
  font-weight: bolder; }

p {
  font-size: 20px;
  font-style: italic;
  color: $mainColor; }

h3 {
  font-size: 25px;
  color: #faae09; }

/* foooter*/
.footer-style {
  height: 400px;
  margin-top: 50%; }

footer {
  color: $mainColor; }


  /*Aplicamos extend en quienes somos, ofertas y asesoramiento*/ 
  
.msj_parrafo{
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Indie Flower', cursive;


}
.msjeparrafo1{
  @extend .msj_parrafo;
  color: white;
  background-color: orange;
  
}

.msjeparrafo2{
  @extend .msj_parrafo;
  color: black;
  background-image: linear-gradient(to right, $mainColor, yellow);
 
}
.msjeparrafo3{

  
  @extend .msj_parrafo;
  color: white;
  background-color: green;
}

/*aplicamos MIXIN en Asesoramiento, Ofertas*/ 

@mixin estiloTitulos ($colorLetra, $colorFondo, $tamanioLetra) {

  font-size: $tamanioLetra;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: $colorLetra;
  background-color: $colorFondo;
}

.Titulo1{

  @include estiloTitulos(white,orange, 70px);
}

.Titulo2{
  @include estiloTitulos(orange, brown , 65px )
}


.Titulo3{ 
  @include estiloTitulos(orange,rgb(192, 17, 17) , 65px )
}





